/*UNIVERSAL STYLES*/

body {
    margin: 0%;
    background-color: rgb(54, 69, 79);
}

ul.top-nav-bar {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: cover;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(247, 244, 234);
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(253, 94, 83);
    border-width: medium;
}

li.logo {
    display: inline;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.7em;
    border-style: solid;
    border-width: medium;
    border-radius: 50%;
    font-size: 1.6em;
}

li.logo:hover {
    border-color: rgb(54, 69, 79);
    color: rgb(54, 69, 79);
}
  
li.about {
    display: inline;
    vertical-align: middle;
    margin-left: -2.5em;
    font-family: "Ledger", serif;
    font-size: 1.25em;
}

li.contact {
    display: inline;
    vertical-align: middle;
    font-family: "Ledger", serif;
    font-size: 1.25em;
}
  
li.logo a:link, li.about a:link, li.contact a:link {
    color: rgb(253, 94, 83);
    text-decoration: none;
}

li.logo a:visited, li.about a:visited, li.contact a:visited {
    color: rgb(253, 94, 83);
    text-decoration: none;
}
  
li.logo a:hover, li.about a:hover, li.contact a:hover {
    color: rgb(54, 69, 79);
    text-decoration: none;
}

li.logo a:active, li.about a:active, li.contact a:active {
    color: rgb(54, 69, 79);
    text-decoration: none;
}

div.herobox {
    margin-top: 0%;
    width: cover;
    overflow: hidden;
    background-color: rgb(253, 94, 83);
    color: rgb(247, 244, 234);
    font-family: "Ledger", serif;
    text-shadow: 2px 2px 4px black;
}

h1.herobox-primary-title {
    text-align: left;
    margin-left: 1em;
}

h2.herobox-secondary-title {
    text-align: left;
    margin-left: 1.5em;
}

h3 {
    text-align: left; 
    margin-left: 1.9em;
    padding-bottom: 0.25em;
}

div.main-body-box {
    background-color: rgb(247, 244, 234);
    border-color: rgb(253, 94, 83);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: medium;
}

footer {
    text-align: center;
    width: cover;
    color: rgb(247, 244, 234);
}

/*MAIN BODY BOX LINKS ON LANDING PAGE*/

table {
    position: center;
    width: 100%;
    border-spacing: 2em 2em;
}

th {
    position: relative;
    width: 33%;
    border: none;
}

img {
    position: center;
    width: 20em;
    height: 15em;
    border: 1px solid;
    border-width: medium;
    border-color: rgb(54, 69, 79);
    border-radius: 5%;
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}

p.page-title {
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    background-color: rgba(253, 94, 83, 0.75);
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
    font-family: "Ledger", serif;
    font-size: 1.15em;
    font-weight: bold;
}

/*MAIN BODY BOX ON ABOUT PAGE*/

div.about-page-main-body-box {
    background-image: url('CLT-City-Image-Photo-by-Carissa-Rogers-on-Unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: rgb(253, 94, 83);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: medium;
}

p.body-paragraph {
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: rgba(247, 244, 234, 0.5);
    color: rgb(0, 0, 0);
    font-family: "Ledger", serif;
    font-size: 1.10em;
    line-height: 1.6em;
}

/*CONTACT FORM ON CONTACT PAGE*/

form {
    width: 100%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

label {
    color: rgb(253, 94, 83);
    font-family: "Ledger", serif;
    font-size: 1.15em;
    font-weight: bold;
}

input[type=text] {
    width: 15.25em;
    vertical-align: middle;
    margin-left: 2em;
    font-size: 1.15em;
    font-family:'Times New Roman', Times, serif;
}

input[type=email] {
    width: 15.25em;
    vertical-align: middle;
    margin-left: 2.2em;
    font-size: 1.15em;
    font-family:'Times New Roman', Times, serif;
}

textarea {
    vertical-align: top;
    margin-left: 0.9em;
    font-size: 1.15em;
    font-family:'Times New Roman', Times, serif;
}

button {
    margin-left: 27.3em;
    padding-top: 1em; 
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    border: none;
    border-radius: 4px;
    background-color: rgb(54, 69, 79);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    cursor: pointer;
}
  
button:hover {
    background-color: rgb(0, 0, 0);
}

/*RESUME PRESENTATION WINDOW ON RESUME PAGE*/

iframe {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 60%;
    height: 140em;
    border: 1px solid;
    border-width: medium;
    border-color: rgb(54, 69, 79);
}