/* Color Library*/

#MossGreen {color: rgb(142, 151, 99);}
#DarkVanilla {color: rgb(219, 201, 157);}
#Tumbleweed {color: rgb(218, 170, 125);}
#NewYorkPink {color: rgb(211, 135, 136);}
#TurkishRose {color: rgb(168, 111, 129);}
#OldLavender {color: rgb(116, 90, 117);}

/*UNIVERSAL STYLES -- Start*/

body {
    margin: 0%;
    background-image: url('Background-Photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ledger", serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

hr {
    width: 50%;
    margin: auto;
}

/*End*/

h1.welcome {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Cookie', sans-serif;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);    
}

/*HEROBOX TABLE -- Start*/

div.herobox {
    overflow: scroll;
}

table.herobox-table {
    width: 70em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-spacing: 3em 0em;
}

td.herobox-title {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(116, 90, 117, 0.75);
    color: rgb(219, 201, 157);
    font-family: 'Cookie', sans-serif;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

img.herobox-table-image {
    width: 25em;
    height: 20em;
    display: block;
    border-color: rgb(116, 90, 117);
    border-style: solid;
    border-width: medium;
    border-radius: 8px;
}

td.herobox-paragraph {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: rgba(219, 201, 157, 0.75);
    color: rgb(0, 0, 0);
    font-size: 1em;
    line-height: 1.75em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

p.indent {
    text-indent: 1em;
}

/*End*/

/*PORTFOLIO TABLE - Start*/

div.main-body-box {
    overflow: scroll;
}

table.portfolio {
    width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    border-spacing: 0;
}

td.portfolio-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
    background-color: rgba(142, 151, 99, 0.75);
    border-bottom: medium solid rgb(142, 151, 99);
    font-family: 'Cookie', sans-serif;
    color: rgb(219, 201, 157);
    font-size: 3em;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

td.main-table-image {
    border-color: rgb(142, 151, 99);
    border-style: solid;
    border-width: medium;
    padding: 0em;
}

img.main-table-image {
    width: 37.5em;
    display: block;
}

td.table-button {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    background-color: rgba(142, 151, 99, 0.75);
    opacity: 0.5;
}

div.button-title {
    font-size: 2em;
}

div.button-description {
    font-size: 1.5em;
}

td.table-button:hover {
    opacity: 1;
}

td.table-button a:link {
    padding: 10em;
    color: rgb(0, 0, 0);
}

td.table-button a:visited {
    color: rgb(0, 0, 0);
}

td.table-button a:hover {
    color: rgb(0, 0, 0);
}

td.table-button a:active {
    color: rgb(0, 0, 0);
}

/*End*/

/*FOOTER SECTION -- Start*/

div.footer {
    width: 100%;
    overflow: scroll;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(116, 90, 117, 0.75);
}

p.footer-header {
    font-family: 'Cookie', sans-serif;
    color: rgb(219, 201, 157);
    font-size: 3em;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

ul.links {
    margin-left: -2.5em;
    list-style-type: none;
}

li.link {
    padding-left: 1em;
    padding-right: 1em;
    display: inline;
}

i {
    color: rgb(218, 170, 125);
    opacity: 0.75;
}

i:hover {
    opacity: 1;
}

p.end-paragraph {
    width: 50%;
    margin: auto;
    color: rgb(219, 201, 157);
    font-weight: bolder;
    font-size: 1.25em;
    line-height: 2em;
}

p.end-paragraph a:link {
    color: rgb(219, 201, 157);
}

p.end-paragraph a:visited {
    color: rgb(219, 201, 157);
}

p.end-paragraph a:hover {
    color: rgb(219, 201, 157);
    text-decoration-line: underline;
}

p.end-paragraph a:active {
    color: rgb(219, 201, 157);
    text-decoration-line: underline;
}

p.copyright {
    color: rgb(219, 201, 157);
    font-size: 1em;
}

/*End*/